openapi: 3.1.0
info:
  title: Tanvrit Server API
  description: 'REST API for the Tanvrit commerce platform. Covers authentication, business management,

    inventory, orders, CRM, compute, gathering/events, workforce, marketing, notifications,

    support, finance, media, social, and platform administration.


    **Authentication**: Most endpoints require a JWT Bearer token obtained via

    `/api/auth/AUTHENTICATE` or `/api/auth/LOGIN_EMAIL`. Pass it as `Authorization: Bearer <token>`.


    **Request pattern**: The API uses a POST-based RPC style. All mutations and queries are POST

    requests with JSON bodies. Responses follow a uniform envelope: `{ status, message, payload }`.


    **AI Commerce Gateway**: Merchant endpoints use `X-API-Key` (obtain via `/api/ai/v1/keys/create`).

    Public catalog endpoints require no auth.

    '
  version: 1.0.0
  contact:
    name: Tanvrit Engineering
    url: https://tanvrit.com
servers:
- url: https://api.tanvrit.com
  description: Production
- url: http://localhost:8080
  description: Local development
tags:
- name: Auth
  description: User authentication, OTP, registration, and session management
- name: Business
  description: Business (store) CRUD, codes, config, types, connections, and hierarchy
- name: AI Commerce
  description: AI Commerce Gateway — merchant, customer, and catalog endpoints for AI agents
- name: Inventory Products
  description: Products, categories, subcategories, brands, colors, sizes, UOM, barcodes, and models
- name: Inventory Pricing
  description: Offers, discounts, coupons, product prices, bundles, and gift cards
- name: Inventory Stock
  description: Stock levels, batches, audits, health, velocity, restock alerts, suppliers, purchase orders, warehouse, and
    transfers
- name: Orders
  description: Order lifecycle, cart, fulfillment, returns, and pre-orders
- name: Customer
  description: Customer records, contacts, phone contacts, favorites, and wishlists
- name: Pricing
  description: Price tiers, schedules, customer groups, and price calculation
- name: CRM
  description: Leads, deals, pipelines, companies, activities, tasks, email sequences, workflows, and web forms
- name: Compute
  description: Distributed compute jobs, nodes, templates, schedules, volumes, artifacts, billing, and marketplace
- name: Gathering
  description: Gatherings (weddings/events), attendees, groups, RSVPs, check-ins, budgets, seating, vendors, and invitations
- name: Education
  description: Schools, classes, exams, and grades
- name: Workforce
  description: Employees, job roles, jobs, attendance, shifts, and commissions
- name: Marketing
  description: Marketing campaigns, email marketing, LLM content, image generation, and promotions
- name: Notifications
  description: Push notifications, in-app notifications, templates, preferences, and live updates
- name: Support
  description: Support tickets, articles, canned responses, and public help center
- name: Finance
  description: Payments, payouts, wallets, transactions, invoices, accounting, tax, sales, and currency
- name: Media & Social
  description: Media files, presigned uploads, feed, posts, follows, ratings, reviews, referrals, loyalty, and subscriptions
- name: Platform & Admin
  description: Platform config, admin tools, control plane, monitoring, app builds, themes, store hours, webhooks, and infrastructure
security:
- BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from /api/auth/AUTHENTICATE or /api/auth/LOGIN_EMAIL
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for AI Commerce Gateway merchant endpoints. Obtain via /api/ai/v1/keys/create
  schemas:
    BaseResponse:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
        message:
          type: string
          example: Success
          nullable: true
      required:
      - status
    PaginatedResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
          nullable: true
        payload:
          type: array
          items: {}
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
    IdRequest:
      type: object
      properties:
        id:
          type: string
      required:
      - id
    AuthMobileRequest:
      type: object
      properties:
        mobile:
          type: string
          example: '9876543210'
        dialCode:
          type: string
          example: '+91'
        name:
          type: string
          nullable: true
          example: John Doe
      required:
      - mobile
      - dialCode
    LoginEmailRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        password:
          type: string
          format: password
          minLength: 6
      required:
      - email
      - password
    RefreshTokenRequest:
      type: object
      properties:
        refreshToken:
          type: string
      required:
      - refreshToken
    AuthTokenResponse:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
        message:
          type: string
          nullable: true
        payload:
          type: object
          nullable: true
          properties:
            token:
              type: string
              description: JWT access token
            refreshToken:
              type: string
              description: Refresh token for obtaining new access tokens
            user:
              $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mobile:
          type: string
          nullable: true
        dialCode:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        profileImage:
          type: string
          nullable: true
        isVerified:
          type: boolean
          nullable: true
        role:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
    SendOtpRequest:
      type: object
      properties:
        mobile:
          type: string
          example: '9876543210'
        dialCode:
          type: string
          example: '+91'
        appId:
          type: string
          nullable: true
          description: Overridden by X-App-ID header
      required:
      - mobile
      - dialCode
    VerifyOtpRequest:
      type: object
      properties:
        otpId:
          type: string
          description: ID returned by SEND_OTP
        otp:
          type: string
          description: The OTP code received by the user
          maxLength: 8
      required:
      - otpId
      - otp
    Business:
      type: object
      properties:
        id:
          type: string
        business_name:
          type: string
        mobile:
          type: string
        dialCode:
          type: string
        email:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        businessType:
          type: string
          nullable: true
        profileImage:
          type: string
          nullable: true
        userId:
          type: string
        status:
          type: string
          enum:
          - ACTIVE
          - PENDING
          - SUSPENDED
          - REJECTED
        created_at:
          type: string
          format: date-time
          nullable: true
    CreateBusinessRequest:
      type: object
      properties:
        userId:
          type: string
        name:
          type: string
        mobile:
          type: string
        dialCode:
          type: string
        email:
          type: string
          nullable: true
        businessType:
          type: string
          nullable: true
      required:
      - userId
      - name
      - mobile
      - dialCode
    BusinessConfig:
      type: object
      properties:
        id:
          type: string
        businessId:
          type: string
        currency:
          type: string
          example: INR
        timezone:
          type: string
          example: Asia/Kolkata
        deliveryEnabled:
          type: boolean
        taxEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
          nullable: true
    CreateBusinessConfigRequest:
      type: object
      properties:
        businessId:
          type: string
        currency:
          type: string
          nullable: true
        timezone:
          type: string
          nullable: true
        deliveryEnabled:
          type: boolean
          nullable: true
        taxEnabled:
          type: boolean
          nullable: true
      required:
      - businessId
    BusinessStore:
      type: object
      properties:
        id:
          type: string
        businessId:
          type: string
        storeName:
          type: string
        storeCode:
          type: string
          nullable: true
        storeType:
          type: string
          nullable: true
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
          nullable: true
    PaymentGatewayConfigRequest:
      type: object
      properties:
        storeId:
          type: string
        gatewayType:
          type: string
          example: RAZORPAY
        credentials:
          type: object
          description: Gateway-specific credentials (key/secret pairs)
      required:
      - storeId
      - gatewayType
    AiProduct:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        quantity:
          type: integer
          format: int64
        price:
          type: number
          format: double
        currencySymbol:
          type: string
          example: ₹
        images:
          type: array
          items:
            type: string
        categoryId:
          type: string
          nullable: true
        isActive:
          type: boolean
    AiProductListResponse:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/AiProduct'
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
    AiAnalyticsSummary:
      type: object
      properties:
        totalRevenue:
          type: number
          format: double
        totalOrders:
          type: integer
        totalCustomers:
          type: integer
        pendingOrders:
          type: integer
        averageOrderValue:
          type: number
          format: double
        totalProducts:
          type: integer
        topProducts:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
              name:
                type: string
              totalSold:
                type: integer
        revenueByDate:
          type: object
          additionalProperties:
            type: number
        ordersByStatus:
          type: object
          additionalProperties:
            type: integer
    AiCustomerSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mobile:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        totalOrders:
          type: integer
        createdAt:
          type: string
          format: date-time
          nullable: true
    AiCustomerListResponse:
      type: object
      properties:
        customers:
          type: array
          items:
            $ref: '#/components/schemas/AiCustomerSummary'
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
    AiOrderSummary:
      type: object
      properties:
        orderId:
          type: string
        orderNumber:
          type: string
        status:
          type: string
        totalAmount:
          type: number
          format: double
    AiOrderDetail:
      allOf:
      - $ref: '#/components/schemas/AiOrderSummary'
      - type: object
        properties:
          customerName:
            type: string
            nullable: true
          customerMobile:
            type: string
            nullable: true
          items:
            type: array
            items:
              type: object
              properties:
                productId:
                  type: string
                name:
                  type: string
                quantity:
                  type: integer
                unitPrice:
                  type: number
                  format: double
                lineTotal:
                  type: number
                  format: double
          createdAt:
            type: string
            format: date-time
            nullable: true
    AiOrderListResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/AiOrderSummary'
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean
    AiDeclineOrderRequest:
      type: object
      properties:
        reason:
          type: string
          example: OUT_OF_STOCK
        reasonDescription:
          type: string
          nullable: true
      required:
      - reason
    CreateAiApiKeyRequest:
      type: object
      properties:
        businessId:
          type: string
        label:
          type: string
          example: My ChatGPT Plugin Key
        scopes:
          type: array
          items:
            type: string
            enum:
            - READ_ORDERS
            - WRITE_ORDERS
            - READ_PRODUCTS
            - WRITE_PRODUCTS
            - READ_ANALYTICS
            - READ_CUSTOMERS
        expiresInDays:
          type: integer
          nullable: true
          description: Omit for no expiry
      required:
      - businessId
      - label
      - scopes
    AiApiKeyCreatedResponse:
      type: object
      properties:
        keyId:
          type: string
        apiKey:
          type: string
          description: Raw key — shown only once at creation
        keyPrefix:
          type: string
          example: fai_
        label:
          type: string
        scopes:
          type: array
          items:
            type: string
        businessId:
          type: string
        expiresAt:
          type: string
          format: date-time
          nullable: true
    AiApiKeyResponse:
      type: object
      properties:
        id:
          type: string
        keyPrefix:
          type: string
        label:
          type: string
        scopes:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
        isRevoked:
          type: boolean
    AiApiKeyListResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/AiApiKeyResponse'
    AiCartItem:
      type: object
      properties:
        cartItemId:
          type: string
        productId:
          type: string
        productName:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: number
          format: double
        lineTotal:
          type: number
          format: double
        currencySymbol:
          type: string
    AiCartSummary:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AiCartItem'
        itemCount:
          type: integer
        total:
          type: number
          format: double
        businessId:
          type: string
        storeId:
          type: string
          nullable: true
    AiAddToCartRequest:
      type: object
      properties:
        productId:
          type: string
        businessId:
          type: string
        quantity:
          type: integer
          minimum: 1
        storeId:
          type: string
          nullable: true
        priceId:
          type: string
          nullable: true
      required:
      - productId
      - businessId
      - quantity
    AiCheckoutRequest:
      type: object
      properties:
        businessId:
          type: string
        storeId:
          type: string
          nullable: true
      required:
      - businessId
    AiCheckoutResult:
      type: object
      properties:
        orderId:
          type: string
        orderNumber:
          type: string
        status:
          type: string
        totalAmount:
          type: number
          format: double
        message:
          type: string
          nullable: true
    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        price:
          type: number
          format: double
          nullable: true
        images:
          type: array
          items:
            type: string
        categoryId:
          type: string
          nullable: true
        subCategoryId:
          type: string
          nullable: true
        businessId:
          type: string
        storeId:
          type: string
          nullable: true
        quantity:
          type: integer
          format: int64
          nullable: true
        brandId:
          type: string
          nullable: true
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
          nullable: true
    CreateProductRequest:
      type: object
      properties:
        userId:
          type: string
        businessId:
          type: string
        storeId:
          type: string
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
        categoryId:
          type: string
          nullable: true
        subCategoryId:
          type: string
          nullable: true
        quantity:
          type: integer
          format: int64
          nullable: true
      required:
      - userId
      - businessId
      - name
    ProductCategory:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        image:
          type: string
          nullable: true
        businessId:
          type: string
        parentId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
    Order:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        businessId:
          type: string
        storeId:
          type: string
          nullable: true
        items:
          type: array
          items:
            type: object
        totalAmount:
          type: number
          format: double
          nullable: true
        status:
          type: string
          enum:
          - PENDING
          - CONFIRMED
          - PREPARING
          - READY
          - DISPATCHED
          - DELIVERED
          - CANCELLED
          - DECLINED
        createdAt:
          type: string
          format: date-time
          nullable: true
    CartItem:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        name:
          type: string
          nullable: true
        quantity:
          type: integer
        price:
          type: number
          format: double
        image:
          type: string
          nullable: true
    Customer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mobile:
          type: string
          nullable: true
        dialCode:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        businessId:
          type: string
        totalOrders:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
          nullable: true
    PriceTier:
      type: object
      properties:
        id:
          type: string
        productId:
          type: string
        minQuantity:
          type: integer
        maxQuantity:
          type: integer
          nullable: true
        unitPrice:
          type: number
          format: double
          nullable: true
        discountPercent:
          type: number
          format: double
          nullable: true
paths:
  /api/auth/CHECK_ACCOUNT:
    post:
      tags:
      - Auth
      summary: Check if an account exists
      description: Checks whether a user account exists for the given mobile number. Rate-limited to 5 attempts per 15 minutes
        per IP.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthMobileRequest'
      responses:
        '200':
          description: Account check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '429':
          description: Too many requests
  /api/auth/AUTHENTICATE:
    post:
      tags:
      - Auth
      summary: Authenticate user (OTP-based)
      description: Authenticates via mobile + OTP. Returns JWT access token and refresh token on success. Rate-limited to
        5 attempts per 15 minutes per IP.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthMobileRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Authentication failed
  /api/auth/REGISTER:
    post:
      tags:
      - Auth
      summary: Register new user
      description: Creates a new user account with mobile number. Rate-limited to 5 attempts per 15 minutes per IP.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthMobileRequest'
              - type: object
                properties:
                  name:
                    type: string
                    example: John Doe
                required:
                - name
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
  /api/auth/VERIFY_PASSWORD:
    post:
      tags:
      - Auth
      summary: Verify password (MPIN / password login)
      description: Authenticates using mobile + password/MPIN. May return a 2FA challenge if configured.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  type: string
                  example: '9876543210'
                dialCode:
                  type: string
                  example: '+91'
                password:
                  type: string
                  format: password
              required:
              - mobile
              - dialCode
              - password
      responses:
        '200':
          description: Authenticated or 2FA challenge issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Invalid credentials
  /api/auth/LOGIN_EMAIL:
    post:
      tags:
      - Auth
      summary: Login with email and password
      description: Authenticates using email + password. Rate-limited to 5 attempts per 15 minutes per IP.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginEmailRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Invalid credentials
  /api/auth/REFRESH_TOKEN:
    post:
      tags:
      - Auth
      summary: Refresh access token
      description: Exchanges a valid refresh token for a new JWT access token. Rate-limited to 10 attempts per 15 minutes
        per IP.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: New tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Invalid or expired refresh token
  /api/auth/LOGOUT:
    post:
      tags:
      - Auth
      summary: Logout current user
      description: Invalidates the current session for the authenticated user.
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/auth/RETRIEVE_ALL_LANGUAGE:
    post:
      tags:
      - Auth
      summary: List supported languages
      description: Returns all supported UI languages for the platform.
      security: []
      responses:
        '200':
          description: Language list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: string
                        example: en
  /api/auth/GET_USER:
    post:
      tags:
      - Auth
      summary: Get authenticated user details
      description: Returns the profile of the currently authenticated user.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  nullable: true
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/User'
  /api/auth/SET_PASSWORD:
    post:
      tags:
      - Auth
      summary: Set or change password
      description: Sets or updates the user's password/MPIN.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  format: password
                  minLength: 4
              required:
              - password
      responses:
        '200':
          description: Password updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/auth/UPDATE_FCM_TOKEN:
    post:
      tags:
      - Auth
      summary: Update FCM push token
      description: Registers or updates the Firebase Cloud Messaging device token for push notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fcmToken:
                  type: string
                  description: FCM device token
                deviceId:
                  type: string
                  nullable: true
              required:
              - fcmToken
      responses:
        '200':
          description: Token updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/auth/NAVIGATION_CONTEXT:
    post:
      tags:
      - Auth
      summary: Get navigation context
      description: Returns the app navigation context for the authenticated user including role, active businesses, and feature
        flags.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                appId:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Navigation context
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: object
                      description: Navigation context object (structure varies by app)
  /api/auth/ADMIN_ALL:
    post:
      tags:
      - Auth
      summary: Admin — list all users
      description: Admin-only endpoint. Returns a paginated list of all platform users.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  default: 1
                limit:
                  type: integer
                  default: 20
                search:
                  type: string
                  nullable: true
      responses:
        '200':
          description: User list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
  /api/otp/SEND_OTP:
    post:
      tags:
      - Auth
      summary: Send OTP
      description: 'Sends a one-time password to the given mobile number. Rate-limited per IP (5/15 min),

        per mobile (3/10 min), and per phone-IP pair. Requires `X-App-ID` header.

        '
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOtpRequest'
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: object
                      properties:
                        otpId:
                          type: string
                          description: Opaque ID used when calling VERIFY_OTP
        '429':
          description: Rate limit exceeded
  /api/otp/VERIFY_OTP:
    post:
      tags:
      - Auth
      summary: Verify OTP
      description: Verifies the OTP code against the otpId. On success, resets the IP rate-limit bucket. Requires `X-App-ID`
        header.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyOtpRequest'
      responses:
        '200':
          description: OTP verified
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: object
                      properties:
                        verified:
                          type: boolean
        '400':
          description: Invalid or expired OTP
        '429':
          description: Rate limit exceeded
  /api/store/CREATE_BUSINESS:
    post:
      tags:
      - Business
      summary: Create a new business
      description: Registers a new business (store) for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessRequest'
      responses:
        '200':
          description: Business created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Business'
  /api/store/ONBOARD_BUSINESS:
    post:
      tags:
      - Business
      summary: Onboard a new business
      description: Full onboarding flow for a new business, including initial config.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessRequest'
      responses:
        '200':
          description: Business onboarded
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Business'
  /api/store/RETRIEVE_BUSINESS:
    post:
      tags:
      - Business
      summary: Retrieve businesses for a user
      description: Returns all businesses owned by or associated with the given userId.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
              required:
              - userId
      responses:
        '200':
          description: List of businesses
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/Business'
  /api/store/RETRIEVE_SINGLE_BUSINESS:
    post:
      tags:
      - Business
      summary: Retrieve a single business
      description: Returns a single business by ID or business number.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                number:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Business details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Business'
  /api/store/UPDATE_BUSINESS:
    post:
      tags:
      - Business
      summary: Update a business
      description: Updates business details such as name, address, email, or profile image.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                  nullable: true
                mobile:
                  type: string
                  nullable: true
                dialCode:
                  type: string
                  nullable: true
                email:
                  type: string
                  nullable: true
                address:
                  type: string
                  nullable: true
                profileImage:
                  type: string
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Business updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Business'
  /api/store/DELETE_BUSINESS:
    post:
      tags:
      - Business
      summary: Delete a business
      description: Soft-deletes a business by ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Business deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/FIND_BUSINESS:
    post:
      tags:
      - Business
      summary: Find business by mobile
      description: Finds a business by owner mobile number and dial code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mobile:
                  type: string
                dialCode:
                  type: string
              required:
              - mobile
              - dialCode
      responses:
        '200':
          description: Matching business
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Business'
  /api/store/NEARBY_BUSINESS:
    post:
      tags:
      - Business
      summary: Find nearby businesses
      description: Returns businesses near the user's location.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  type: number
                  format: double
                  nullable: true
                longitude:
                  type: number
                  format: double
                  nullable: true
                radiusKm:
                  type: number
                  format: double
                  nullable: true
      responses:
        '200':
          description: Nearby businesses
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/Business'
  /api/store/COUNT:
    post:
      tags:
      - Business
      summary: Get total business count
      description: Returns the total number of businesses on the platform.
      responses:
        '200':
          description: Count
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: integer
  /api/store/ADMIN_LIST:
    post:
      tags:
      - Business
      summary: Admin — list all businesses
      description: Admin/Owner-only. Returns a paginated list of all businesses.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                  default: 1
                limit:
                  type: integer
                  default: 20
                search:
                  type: string
                  nullable: true
                status:
                  type: string
                  nullable: true
                  enum:
                  - ACTIVE
                  - PENDING
                  - SUSPENDED
                  - REJECTED
      responses:
        '200':
          description: Paginated business list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
  /api/store/ADMIN_APPROVE:
    post:
      tags:
      - Business
      summary: Admin — approve a business
      description: Admin/Owner-only. Approves a business that is in PENDING status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Business approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/ADMIN_REJECT:
    post:
      tags:
      - Business
      summary: Admin — reject a business
      description: Admin/Owner-only. Rejects a business application with a reason.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                reason:
                  type: string
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Business rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/ADMIN_SUSPEND:
    post:
      tags:
      - Business
      summary: Admin — suspend a business
      description: Admin/Owner-only. Suspends an active business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                reason:
                  type: string
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Business suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/ADMIN_ACTIVATE:
    post:
      tags:
      - Business
      summary: Admin — reactivate a business
      description: Admin/Owner-only. Reactivates a suspended business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Business activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/business/code/generate:
    post:
      tags:
      - Business
      summary: Generate a unique business code
      description: Generates a unique, human-readable business code with an optional prefix.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  example: BIZ
                  nullable: true
      responses:
        '200':
          description: Generated code
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: string
                      example: BIZ-A3F9
  /api/business/code/validate:
    post:
      tags:
      - Business
      summary: Validate a business code
      description: Checks if a business code is valid and not already in use.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required:
              - code
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: boolean
  /api/store/config/CREATE_BUSINESS_CONFIGURATION:
    post:
      tags:
      - Business
      summary: Create business configuration
      description: Creates the initial configuration record for a business (currency, timezone, delivery settings, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessConfigRequest'
      responses:
        '200':
          description: Config created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/BusinessConfig'
  /api/store/config/RETRIEVE_BUSINESS_CONFIGURATION:
    post:
      tags:
      - Business
      summary: Retrieve business configuration
      description: Returns the configuration for a business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
              required:
              - businessId
      responses:
        '200':
          description: Config
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/BusinessConfig'
  /api/store/config/UPDATE_BUSINESS_CONFIGURATION:
    post:
      tags:
      - Business
      summary: Update business configuration
      description: Updates configuration fields for a business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                currency:
                  type: string
                  nullable: true
                timezone:
                  type: string
                  nullable: true
                deliveryEnabled:
                  type: boolean
                  nullable: true
                taxEnabled:
                  type: boolean
                  nullable: true
              required:
              - businessId
      responses:
        '200':
          description: Config updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/BusinessConfig'
  /api/store/config/RETRIEVE_ALL_CURRENCY:
    post:
      tags:
      - Business
      summary: List all supported currencies
      description: Returns all currency codes supported by the platform.
      security: []
      responses:
        '200':
          description: Currency list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: string
                            example: INR
                          name:
                            type: string
                            example: Indian Rupee
                          symbol:
                            type: string
                            example: ₹
  /api/store/CREATE_BUSINESS_CONNECTION:
    post:
      tags:
      - Business
      summary: Create a business connection
      description: Sends a connection request from one business to another.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fromBusinessId:
                  type: string
                toBusinessId:
                  type: string
              required:
              - fromBusinessId
              - toBusinessId
      responses:
        '200':
          description: Connection request sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/ACCEPT_BUSINESS_CONNECTION:
    post:
      tags:
      - Business
      summary: Accept a business connection
      description: Accepts a pending business connection request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
              required:
              - connectionId
      responses:
        '200':
          description: Connection accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/REJECT_BUSINESS_CONNECTION:
    post:
      tags:
      - Business
      summary: Reject a business connection
      description: Rejects a pending business connection request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
              required:
              - connectionId
      responses:
        '200':
          description: Connection rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/RETRIEVE_BUSINESS_CONNECTION:
    post:
      tags:
      - Business
      summary: Retrieve business connections
      description: Returns connections for a business, optionally filtered by status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                status:
                  type: string
                  nullable: true
                  enum:
                  - PENDING
                  - ACCEPTED
                  - REJECTED
              required:
              - businessId
      responses:
        '200':
          description: Connection list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: object
  /api/store/DELETE_BUSINESS_CONNECTION:
    post:
      tags:
      - Business
      summary: Delete a business connection
      description: Removes an existing business connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
              required:
              - connectionId
      responses:
        '200':
          description: Connection deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/business/store/create:
    post:
      tags:
      - Business
      summary: Create a store outlet
      description: Creates a store outlet under a business (multi-outlet support).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                storeName:
                  type: string
                storeCode:
                  type: string
                  nullable: true
                storeType:
                  type: string
                  nullable: true
              required:
              - businessId
              - storeName
      responses:
        '200':
          description: Store created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/BusinessStore'
  /api/business/store/retrieve:
    post:
      tags:
      - Business
      summary: Retrieve stores for a business
      description: Returns all store outlets for the given business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
              required:
              - businessId
      responses:
        '200':
          description: Store list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/BusinessStore'
  /api/business/store/find:
    post:
      tags:
      - Business
      summary: Find a store by ID
      description: Returns a single store by its ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Store details
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/BusinessStore'
  /api/business/store/update:
    post:
      tags:
      - Business
      summary: Update a store
      description: Updates store details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                storeName:
                  type: string
                  nullable: true
                storeCode:
                  type: string
                  nullable: true
                storeType:
                  type: string
                  nullable: true
                isActive:
                  type: boolean
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Store updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/BusinessStore'
  /api/business/store/delete:
    post:
      tags:
      - Business
      summary: Delete a store
      description: Deletes a store outlet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Store deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/payment/gateway/config/CREATE:
    post:
      tags:
      - Business
      summary: Create payment gateway config
      description: Creates a payment gateway configuration for a business/store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentGatewayConfigRequest'
      responses:
        '200':
          description: Config created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/payment/gateway/config/UPDATE:
    post:
      tags:
      - Business
      summary: Update payment gateway config
      description: Updates an existing payment gateway configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                properties:
                  configId:
                    type: string
                required:
                - configId
              - $ref: '#/components/schemas/PaymentGatewayConfigRequest'
      responses:
        '200':
          description: Config updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/payment/gateway/config/DELETE:
    post:
      tags:
      - Business
      summary: Delete payment gateway config
      description: Removes a payment gateway configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configId:
                  type: string
              required:
              - configId
      responses:
        '200':
          description: Config deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/payment/gateway/config/RETRIEVE:
    post:
      tags:
      - Business
      summary: Retrieve payment gateway configs
      description: Returns all payment gateway configurations for a store.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                storeId:
                  type: string
              required:
              - storeId
      responses:
        '200':
          description: Config list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: object
  /api/store/config/delivery-types/retrieve:
    post:
      tags:
      - Business
      summary: List delivery types
      description: Returns all supported delivery types (e.g. PICKUP, HOME_DELIVERY).
      security: []
      responses:
        '200':
          description: Delivery types
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: string
  /api/store/config/payment-methods/retrieve:
    post:
      tags:
      - Business
      summary: List payment methods
      description: Returns all supported payment method types.
      security: []
      responses:
        '200':
          description: Payment methods
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: string
  /api/store/type/CREATE_BUSINESS_TYPE:
    post:
      tags:
      - Business
      summary: Create a business type
      description: Creates a new business type under a master business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                masterBusinessId:
                  type: string
                typeName:
                  type: string
              required:
              - masterBusinessId
              - typeName
      responses:
        '200':
          description: Business type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/type/RETRIEVE_BUSINESS_TYPE:
    post:
      tags:
      - Business
      summary: Retrieve business types
      description: Returns all business types for a master business.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                masterBusinessId:
                  type: string
              required:
              - masterBusinessId
      responses:
        '200':
          description: Business type list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: object
  /api/store/type/UPDATE_BUSINESS_TYPE:
    post:
      tags:
      - Business
      summary: Update a business type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                masterBusinessId:
                  type: string
                typeId:
                  type: string
                typeName:
                  type: string
              required:
              - masterBusinessId
              - typeId
              - typeName
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/store/type/DELETE_BUSINESS_TYPE:
    post:
      tags:
      - Business
      summary: Delete a business type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/business/master/retrieve:
    post:
      tags:
      - Business
      summary: Retrieve all master businesses
      description: Returns all master business records (platform-level).
      responses:
        '200':
          description: Master business list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        type: object
  /api/business/master/find:
    post:
      tags:
      - Business
      summary: Find master business by ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Master business
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/business/master/delete:
    post:
      tags:
      - Business
      summary: Delete master business
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/business/super/setup:
    post:
      tags:
      - Business
      summary: Super business master data setup
      description: Seeds master data for a super business (admin operation).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Setup configuration (varies by platform)
      responses:
        '200':
          description: Setup complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/ai/v1/:
    get:
      tags:
      - AI Commerce
      summary: AI Commerce developer landing page
      description: HTML page with route documentation and integration instructions.
      security: []
      responses:
        '200':
          description: HTML page
          content:
            text/html:
              schema:
                type: string
  /api/ai/v1/openapi.json:
    get:
      tags:
      - AI Commerce
      summary: AI Commerce OpenAPI spec
      description: Returns the OpenAPI 3.1.0 specification for the AI Commerce Gateway. Paste this URL into ChatGPT Actions
        or any OpenAPI-compatible tool.
      security: []
      responses:
        '200':
          description: OpenAPI spec JSON
          content:
            application/json:
              schema:
                type: object
  /api/ai/v1/catalog/{businessId}/products:
    get:
      tags:
      - AI Commerce
      summary: Browse catalog products
      description: Returns publicly visible products for a business. No authentication required.
      security: []
      parameters:
      - in: path
        name: businessId
        required: true
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
      - in: query
        name: search
        schema:
          type: string
          nullable: true
      - in: query
        name: inStock
        schema:
          type: boolean
          nullable: true
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiProductListResponse'
  /api/ai/v1/catalog/{businessId}/products/{productId}:
    get:
      tags:
      - AI Commerce
      summary: Get catalog product detail
      description: Returns a single product with pricing for a business. No authentication required.
      security: []
      parameters:
      - in: path
        name: businessId
        required: true
        schema:
          type: string
      - in: path
        name: productId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product detail
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiProduct'
  /api/ai/v1/analytics/summary:
    get:
      tags:
      - AI Commerce
      summary: Business analytics summary
      description: Returns revenue, orders, customers, and top products for a date range. Requires READ_ANALYTICS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: query
        name: startDate
        description: Start of date range in epoch milliseconds
        schema:
          type: integer
          format: int64
          nullable: true
      - in: query
        name: endDate
        description: End of date range in epoch milliseconds
        schema:
          type: integer
          format: int64
          nullable: true
      responses:
        '200':
          description: Analytics summary
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiAnalyticsSummary'
  /api/ai/v1/customers:
    get:
      tags:
      - AI Commerce
      summary: List customers
      description: Returns a paginated list of customers for the merchant's business. Requires READ_CUSTOMERS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
      - in: query
        name: search
        description: Filter by name or mobile
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: Customer list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiCustomerListResponse'
  /api/ai/v1/customers/{customerId}:
    get:
      tags:
      - AI Commerce
      summary: Get customer detail
      description: Returns a single customer record. Requires READ_CUSTOMERS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Customer detail
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiCustomerSummary'
  /api/ai/v1/orders:
    get:
      tags:
      - AI Commerce
      summary: List orders
      description: Returns a paginated list of orders, optionally filtered by status. Requires READ_ORDERS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: query
        name: status
        description: Filter by order status
        schema:
          type: string
          nullable: true
          enum:
          - PLACED
          - CONFIRMED
          - PREPARING
          - READY
          - DISPATCHED
          - DELIVERED
          - CANCELLED
          - DECLINED
      - in: query
        name: page
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiOrderListResponse'
  /api/ai/v1/orders/{orderId}:
    get:
      tags:
      - AI Commerce
      summary: Get order detail
      description: Returns full order detail including customer info and line items. Requires READ_ORDERS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order detail
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiOrderDetail'
  /api/ai/v1/orders/{orderId}/confirm:
    post:
      tags:
      - AI Commerce
      summary: Confirm an order
      description: Transitions an order from PLACED to CONFIRMED. Requires WRITE_ORDERS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Order confirmed
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiOrderSummary'
  /api/ai/v1/orders/{orderId}/decline:
    post:
      tags:
      - AI Commerce
      summary: Decline an order
      description: Declines an order with a reason. Requires WRITE_ORDERS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: orderId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiDeclineOrderRequest'
      responses:
        '200':
          description: Order declined
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiOrderSummary'
  /api/ai/v1/products:
    get:
      tags:
      - AI Commerce
      summary: List merchant products
      description: Returns all products for the merchant's business with pricing. Requires READ_PRODUCTS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        schema:
          type: integer
          default: 20
      - in: query
        name: search
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiProductListResponse'
  /api/ai/v1/products/{productId}:
    get:
      tags:
      - AI Commerce
      summary: Get merchant product detail
      description: Returns a single merchant product with pricing. Requires READ_PRODUCTS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product detail
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiProduct'
  /api/ai/v1/products/{productId}/inventory:
    patch:
      tags:
      - AI Commerce
      summary: Update product stock quantity
      description: Updates the stock quantity for a product. Requires WRITE_PRODUCTS scope.
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: productId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  format: int64
                  minimum: 0
              required:
              - quantity
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiProduct'
  /api/ai/v1/keys:
    post:
      tags:
      - AI Commerce
      summary: Create AI API key
      description: Creates a scoped API key (fai_ prefix) for AI agent access. JWT auth required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAiApiKeyRequest'
      responses:
        '200':
          description: API key created (raw key shown only once)
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiApiKeyCreatedResponse'
    get:
      tags:
      - AI Commerce
      summary: List AI API keys
      description: Returns all API keys for a business (metadata only, no raw key). JWT auth required.
      parameters:
      - in: query
        name: businessId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiApiKeyListResponse'
  /api/ai/v1/keys/{keyId}:
    get:
      tags:
      - AI Commerce
      summary: Get API key metadata
      description: Returns metadata for a single key. Raw key is never returned after creation. JWT auth required.
      parameters:
      - in: path
        name: keyId
        required: true
        schema:
          type: string
      - in: query
        name: businessId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key metadata
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiApiKeyResponse'
    delete:
      tags:
      - AI Commerce
      summary: Revoke API key
      description: Permanently revokes an API key. JWT auth required.
      parameters:
      - in: path
        name: keyId
        required: true
        schema:
          type: string
      - in: query
        name: businessId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key revoked
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: object
                      properties:
                        keyId:
                          type: string
                        revoked:
                          type: boolean
  /api/ai/v1/cart:
    get:
      tags:
      - AI Commerce
      summary: View cart
      description: Returns the customer's cart with product enrichment and total. JWT auth required.
      parameters:
      - in: query
        name: businessId
        required: true
        schema:
          type: string
      - in: query
        name: storeId
        schema:
          type: string
          nullable: true
      responses:
        '200':
          description: Cart summary
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiCartSummary'
  /api/ai/v1/cart/items:
    post:
      tags:
      - AI Commerce
      summary: Add item to cart
      description: Adds a product to the customer's cart. JWT auth required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiAddToCartRequest'
      responses:
        '200':
          description: Item added
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiCartItem'
  /api/ai/v1/cart/items/{itemId}/quantity:
    patch:
      tags:
      - AI Commerce
      summary: Update cart item quantity
      description: Updates the quantity of a specific cart item. JWT auth required.
      parameters:
      - in: path
        name: itemId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  minimum: 1
              required:
              - quantity
      responses:
        '200':
          description: Item updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiCartItem'
  /api/ai/v1/cart/items/{itemId}:
    delete:
      tags:
      - AI Commerce
      summary: Remove cart item
      description: Removes a specific item from the customer's cart. JWT auth required.
      parameters:
      - in: path
        name: itemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Item removed
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: object
                      properties:
                        itemId:
                          type: string
                        removed:
                          type: boolean
  /api/ai/v1/cart/checkout:
    post:
      tags:
      - AI Commerce
      summary: Checkout cart
      description: Converts the cart to an order and clears it. JWT auth required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiCheckoutRequest'
      responses:
        '200':
          description: Order placed
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/AiCheckoutResult'
  /api/inventory/product/CREATE_PRODUCT:
    post:
      tags:
      - Inventory Products
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: Product created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Product'
  /api/inventory/product/RETRIEVE_PRODUCT:
    post:
      tags:
      - Inventory Products
      summary: Retrieve products
      description: Returns products for a business, optionally filtered by store and last sync date.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                storeId:
                  type: string
                  nullable: true
                lastSyncDate:
                  type: string
                  nullable: true
                page:
                  type: integer
                  default: 1
                limit:
                  type: integer
                  default: 50
              required:
              - businessId
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/Product'
  /api/inventory/product/UPDATE_PRODUCT:
    post:
      tags:
      - Inventory Products
      summary: Update a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                businessId:
                  type: string
                name:
                  type: string
                  nullable: true
                categoryId:
                  type: string
                  nullable: true
                quantity:
                  type: integer
                  format: int64
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/Product'
  /api/inventory/product/DELETE_PRODUCT:
    post:
      tags:
      - Inventory Products
      summary: Delete a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Product deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/product/BLACKLIST_PRODUCT:
    post:
      tags:
      - Inventory Products
      summary: Blacklist a product
      description: Hides a product from the public catalog without deleting it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
                productId:
                  type: string
              required:
              - businessId
              - productId
      responses:
        '200':
          description: Product blacklisted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/product/list:
    get:
      tags:
      - Inventory Products
      summary: List products (paginated)
      parameters:
      - in: query
        name: businessId
        required: true
        schema:
          type: string
      - in: query
        name: page
        schema:
          type: integer
          default: 0
      - in: query
        name: limit
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Paginated product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
  /api/inventory/category/CREATE_PRODUCT_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Create a product category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                businessId:
                  type: string
                userId:
                  type: string
              required:
              - name
              - businessId
      responses:
        '200':
          description: Category created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      $ref: '#/components/schemas/ProductCategory'
  /api/inventory/category/RETRIEVE_PRODUCT_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Retrieve product categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
              required:
              - businessId
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    payload:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProductCategory'
  /api/inventory/category/UPDATE_PRODUCT_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Update a product category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                businessId:
                  type: string
                name:
                  type: string
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/category/DELETE_PRODUCT_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Delete a product category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Category deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/sub_category/CREATE_PRODUCT_SUB_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Create a product sub-category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                categoryId:
                  type: string
                businessId:
                  type: string
              required:
              - name
              - categoryId
              - businessId
      responses:
        '200':
          description: Sub-category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/sub_category/RETRIEVE_PRODUCT_SUB_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Retrieve product sub-categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
              required:
              - businessId
      responses:
        '200':
          description: Sub-category list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/sub_category/UPDATE_PRODUCT_SUB_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Update a product sub-category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                  nullable: true
                categoryId:
                  type: string
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Sub-category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/sub_category/DELETE_PRODUCT_SUB_CATEGORY:
    post:
      tags:
      - Inventory Products
      summary: Delete a product sub-category
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Sub-category deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/brand/CREATE_PRODUCT_BRAND:
    post:
      tags:
      - Inventory Products
      summary: Create a brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                  nullable: true
                businessId:
                  type: string
              required:
              - name
              - businessId
      responses:
        '200':
          description: Brand created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/brand/RETRIEVE_PRODUCT_BRAND:
    post:
      tags:
      - Inventory Products
      summary: Retrieve brands
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                businessId:
                  type: string
              required:
              - businessId
      responses:
        '200':
          description: Brand list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/brand/UPDATE_PRODUCT_BRAND:
    post:
      tags:
      - Inventory Products
      summary: Update a brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                  nullable: true
                description:
                  type: string
                  nullable: true
              required:
              - id
      responses:
        '200':
          description: Brand updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
  /api/inventory/brand/DELETE_PRODUCT_BRAND:
    post:
      tags:
      - Inventory Products
      summary: Delete a brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdRequest'
      responses:
        '200':
          description: Brand deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
[...]
